*{ padding:0; margin:0; border:none; text-decoration:none; list-style:none; outline:none;}
.main{ height:100%; width:100%; margin:0 auto;}
.worp{ width:1008px; margin:0 auto;}
/*head*/
.header{ height:79px; width:100%; margin:16px auto 0; background: #b1b1b0; position:relative;}
.right-bg{ float:right; margin-top:8px; height:71px; width:50%; *width:50%; _width:100%; _margin-left:50%;}
.logo{ float:left; height:79px; width:312px;}
.right{ float:right; height:71px; width:270px; margin-top:8px;}
.hot{ float:right; height:24px; width:250px; line-height:24px; font-size:18px; color:#de422c; position:relative; margin-top:6px; }
.hot span{ float:right; position:absolute; top:0;}
#txt{ float:left; height:27px; width:214px; font-size:12px; line-height:27px\9; color:#b1b1b0; border:1px solid #b1b1b0; border-right:none; margin-top:6px;}
.button{ float:right; height:29px; width:55px; background:url(images/search.gif) no-repeat; margin-top:6px; cursor:pointer;}
.top_rate{ color:lightseagreen;font-size:30px;}
/*nav*/
.con{ width:100%; height:104px; margin:0 auto;}
.nav{ display:inline; float:left; height:75px; margin-top:16px; margin-left:25px;}
.nav a{ display:inline; float:left; height:70px; line-height:55px; text-align:center; padding:0 20px; font-size:14px; color:#252525; letter-spacing:1px;}
.a1{ background:#edebeb; border-bottom:5px solid #de422c;}
.nav a:hover{ background:#edebeb; border-bottom:5px solid #de422c;}
/*foot*/
.foot{ width:100%; height:88px; background:#eaeaea; margin:0 auto;}
.copy{ width:1008px; text-align:center; padding-top:32px; margin:0 auto;}
.copy p{ text-align:center; line-height:20px; color:#131313;  font-size:12px;}
/*content*/
#head_hot_goods_wrap {
    width: 1226px;
    margin: 0 auto;
    color: #424242; }
#head_hot_goods_wrap #head_hot_goods_title {
    width: 1226px;
    height: 60px;
    line-height: 60px; }
#head_hot_goods_wrap #head_hot_goods_content {
    width: 1226px;
    height: 345px;
    overflow: hidden;
    position: relative; }
#head_hot_goods_wrap #head_hot_goods_content ul {
    width: 2500px;
    height: 300px;
    position: absolute;
    left: 0;
    overflow: hidden;
    transition: all 3s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;  }
#head_hot_goods_wrap #head_hot_goods_content ul li {
    width: 237px;
    height: 300px;
    padding-top: 20px;
    margin-right: 10px;
    background: #fafafa;
    float: left;
    text-align: center;
    border-top: 1px solid #FF6700; }
#head_hot_goods_wrap #head_hot_goods_content ul li a {
    display: block; }
#head_hot_goods_wrap #head_hot_goods_content ul li a:hover {
    text-decoration: none;
    cursor: pointer; }
#head_hot_goods_wrap #head_hot_goods_content ul li a:nth-child(2) {
    margin: 15px auto;
    font-size: 13px;
    color: #333; }
#head_hot_goods_wrap #head_hot_goods_content ul li a:nth-child(3) {
    font-size: 12px;
    color: #B0B0B0; }
